
/*********************Tags*********************/

body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather' , serif;
    background-color: #d1ebfe ;
    font-family: 'Montserrat', sans-serif;
    
}

h1{
    color: #5b5656;
    margin:50px auto 0 auto ;
    font-size: 500%;
    font-family: 'Sacramento' , cursive;
}

h2{
    color: #5b5656 ;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin: 40px auto;
}

h3{
    color: #5b5656 ;
    font-family: 'Montserrat', sans-serif;
}

hr{
    width: 5%;
    border-top: 5px dotted #53bf9d;
    margin: auto;
}

a{
    color: #53bf9d;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6
}


/*********************TOP-Container*********************/

.top{
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 50px;
    background-color: #3A98B9;
}

/*********************Profile*********************/

.profile{
    width: 70%;
    margin: 40px auto;
    line-height: 2;
}
.my-picture{
    margin: auto;
    width: 15rem;
    height: 15rem;
}
.intro{
    width: 50%;
    height: auto;
    line-height: 2;
    margin: 20px auto;
}

/*********************MIDDLE-Container*********************/

.middle{
    margin: 75px 0;
}

/*********************Skills*********************/
.skill-row{
    width: 70%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
    padding-bottom: 50px;
}

/*********************Skill 1*********************/

.skill-img1{

    margin-right: 30px;
    width: 125px;
    float: left;
    
}

/*********************Skill 2*********************/

.skill-img2{
    margin-left: 30px;
    width: 125px;
    float: right;
}

/*********************CONTACT-ME*********************/

.contact-me{
    width: 50%;

    margin:50px auto 10px;
}
.para4{
    width: auto;
    margin: 30px auto;
}

.btn {
    background: #3A98B9;
    background-image: -webkit-linear-gradient(top, #3A98B9, #53bf9d);
    background-image: -moz-linear-gradient(top, #3A98B9, #53bf9d);
    background-image: -ms-linear-gradient(top, #3A98B9, #53bf9d);
    background-image: -o-linear-gradient(top, #3A98B9, #53bf9d);
    background-image: linear-gradient(to bottom, #3A98B9, #53bf9d);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

/*********************BOTTOM-Container*********************/

.bottom{
    padding: 30px 0 30px;
    background-color: #3A98B9;
}

.copy-right{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.response{
    margin-top: 30px;
}
